.slideshow {
    width: 200px;
    position: relative;
}

.slideshow img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

/* Pilarna över bilden */
.slideshow .slick-prev,
.slideshow .slick-next {
    z-index: 10;
}

.slideshow .slick-prev {
    left: 8px;
}

.slideshow .slick-next {
    right: 8px;
}