footer {
    display: flex;
    margin: 0% 15% 2% 15%;
    padding: 0% 5% 0% 5%;
    justify-content: space-between;
    background-color: #D1CABA;
    color: #2B2B2B;
    opacity: 0.8;
    border-top: 2px solid #2B2B2B;
    border-bottom: 2px solid #2B2B2B;
    align-items: center; 
}

.footer-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0;
}

.footer-col p {
    margin: 4px 0;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    padding: 20px 40px;
}

.footer-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    border-left: 2px solid #2B2B2B;
    border-right: 2px solid #2B2B2B;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;
    gap: 0;
}

.footer-right p {
    margin: 4px 0;
}