.latest-product {
    margin: 50px 0px;
    display: flex;
    padding: 60px 20px;
    background-color: rgba(209, 202, 186, 0.8);
     align-items: center;
    justify-content: space-between;
}

.latest-product-text {
    padding: 0% 0% 0% 15%;
    color: #2B2B2B;
    font-weight: 700;
    font-size: 24px;
    width: 45%;
}


.latest-product-carousel {
   padding-right: 15%;
}