@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/bodyimg.png');
  background-size: cover;
  color: #2B2B2B;
  font-family: 'Playfair Display SC', serif;
}
